.idea/
*.iml
*.ipr
*.iws
.navigation/
.DS_Store
.gradle/
build/
app/build/
local.properties
*.apk
*.aab
*.ap_
*.dex
/app/release/
.externalNativeBuild/
.cxx/
captures/
*.jks
*.keystore
keystore.properties
app/google-services.json
*.class
*.log
*.hprof
/out/
Thumbs.db
ehthumbs.db
Desktop.ini
*.tmp
*.temp
*.bak
*~